.error {
    background-color: rgb(240, 162, 162);
    padding: 2rem;

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }
}