.note {
    padding: 1rem 5rem;
    background-color: rgb(204, 250, 218);

    h1 {
        text-align: center;
        font-style: 2rem;
    }

    h2 {
        text-align: center;
        font-size: 1.7rem;
    }

    p {
        font-size: 1.5rem;
    }
}